.more-info {
    height: 34px;
    color: #ffffff;
    font-family: "Helvetica";
    line-height: 34px;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.more-str {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.more-icon {
    margin-left: 10px;
    margin-right: 10px;
}

.more-text {
    font-family: "Arial";
    font-size: 16px;
}

.bot-border {
    padding-bottom: 10px;
    border-bottom: solid 3px #808080;
}
